extends ./layout

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Proyecto
            span.font-normal Universidad
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-400.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(method='POST' action=`/cursos/${curso.id}?_method=PUT` noValidate)
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="descripcion") descripcion
                        input#descripcion.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="descripcion" type="text" name="descripcion" value=curso.descripcion)
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-500.md-3.font-bold(for="profesor_id") Profesor
                        select(name="profesor_id", class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")
                            option(value="") Seleccionar Profesor
                            each profesor in profesores 
                                option(value=profesor.id) #{profesor.nombre} #{profesor.apellido} 
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre" value=curso.nombre)
               
                    button.bg-blue-500.text-white.px-4.py-2.rounded-md.mt-4(type='submit') Modificar Curso
